/*
The MIT License

Copyright 2015 Sacha Cochin <sacha.cochin@etu.univ-orleans.fr>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/*
    Created on : 29 avr. 2015, 09:33:09
    Author     : Sacha Cochin <sacha.cochin@etu.univ-orleans.fr>
*/

$dots4loader_width : 100px;
$dots4loader_height : 100px;

$dots4loader_dot_width : 20px;
$dots4loader_dot_height : 20px;

$col_dots4loader_green : #9BCB19;
$col_dots4loader_orange : #C37427;
$col_dots4loader_blue : #75B0C8;
$col_dots4loader_yellow : #efe24b;

$dots4loader_fontsize : 42px;

$dots4loader_dots_animation_duration : 2s;
$dots4loader_points_animation_duration : 1s;

.dots4loaderoverlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    z-index: 99999;

    .dots4loader-container {
        margin-left: 50%;
        margin-top: 50vh;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        color: white;

        h1, span {
            font-weight: bolder;
            font-size: $dots4loader_fontsize;
            display: inline-block;
        }

        .dots4loader-first-point {
            animation: dots4loader_anim_first_point linear $dots4loader_points_animation_duration infinite;
        }

        .dots4loader-second-point {
            animation: dots4loader_anim_second_point linear $dots4loader_points_animation_duration infinite;
        }

        .dots4loader-third-point {
            animation: dots4loader_anim_third_point linear $dots4loader_points_animation_duration infinite;
        }

        .dots4loader-logo {
            display: inline-block;
            height: $dots4loader_height;
            width: $dots4loader_width;
            animation: dots4loader_anim_rotat $dots4loader_dots_animation_duration infinite;

            span {
                position: absolute;
                display: block;
                height: $dots4loader_dot_height;
                width: $dots4loader_dot_width;
                border-radius: 50%;
            }

            .dots4loader-top-dot, .dots4loader-bottom-dot {
                margin-left: 50%;
                transform: translateX(-50%);
            }
            .dots4loader-left-dot, .dots4loader-right-dot {
                margin-top: 50%;
                transform: translateY(-50%);
            }
            .dots4loader-top-dot {
                animation: dots4loader_anim_top_dot $dots4loader_dots_animation_duration infinite;
                background-color: $col_dots4loader_blue;
            }
            .dots4loader-left-dot {
                background-color: $col_dots4loader_green;
                animation: dots4loader_anim_left_dot $dots4loader_dots_animation_duration infinite;
            }
            .dots4loader-right-dot {
                background-color: $col_dots4loader_orange;
                right: 0px;
                animation: dots4loader_anim_right_dot $dots4loader_dots_animation_duration infinite;
            }
            .dots4loader-bottom-dot {
                background-color: $col_dots4loader_yellow;
                bottom: 0px;
                animation: dots4loader_anim_bottom_dot $dots4loader_dots_animation_duration infinite;
            }
        }
    }
}

@keyframes dots4loader_anim_rotat {
    0%  {transform: rotateZ(0deg);}
    50%  {transform: rotateZ(480deg);}
    100%  {transform: rotateZ(0deg);}
}

@keyframes dots4loader_anim_top_dot {
    0%  {top: 0px; opacity: 1;}
    50%  {top: 32px; opacity: 0.9;}
    100% {top: 0px; opacity: 1;}
}
@keyframes dots4loader_anim_bottom_dot {
    0%  {bottom: 0px; opacity: 1;}
    50%  {bottom: 32px; opacity: 0.9;}
    100% {bottom: 0px; opacity: 1;}
}
@keyframes dots4loader_anim_left_dot {
    0%  {left: 0px; opacity: 1;}
    50%  {left: 32px; opacity: 0.9;}
    100% {left: 0px; opacity: 1;}
}
@keyframes dots4loader_anim_right_dot {
    0%  {right: 0px; opacity: 1;}
    50%  {right: 32px; opacity: 0.9;}
    100% {right: 0px; opacity: 1;}
}

@keyframes dots4loader_anim_first_point {
    0%  {opacity: 0.5;}
    25%  {opacity: 1;}
    50%  {opacity: 0.5;}
    75% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes dots4loader_anim_second_point {
    0%  {opacity: 0;}
    25%  {opacity: 0.5;}
    50%  {opacity: 1;}
    75% {opacity: 0.5;}
    100% {opacity: 0;}
}
@keyframes dots4loader_anim_third_point {
    0%  {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 0.5;}
    75% {opacity: 0.1;}
    100% {opacity: 0.5;}
}